*{
    padding: 0px;
    margin: 0px;
    
}
body{
    height: 100%;
    width: 100%;
    background-size: cover;
   
    
}

.back{
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url(../images/ernakulam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2s;
    background-position: center;
    
    animation-name: animate;
    animation-direction:alternate-reverse;
    animation-duration: 10s;
    
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-iteration-count: ease-in-out;
}

@keyframes animate{
    0%{
        background-image: url(../images/bg1.jpg);
    }
    
    50%{
        background-image: url(../images/ernakulam.jpg);
    }
    
    100%{
        background-image: url(../images/houseboat.jpg);
    }

}
#heading{
    padding-top: 10%;
    font-size: 3.1vw;
    color: #fff;
    text-shadow: 0 .3rem .5rem #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#intro{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    color:white;
    font-weight: bold;
    font-size: 1em;
    font-family: italic;
}


.back a{
    display: inline-block;
    
    padding: 10px 30px;
    color:black;
    background:rgb(38, 179, 10);
    text-decoration: none;
}

.navbar-nav{
   padding: 1%;
   
}

.container-fluid{
    background: url("../images/cherai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;    
}
#sign{
    background: url("../images/k11-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;    
}

.form-container{
    border: 0px solid white;
    padding: 40px 60px;
    margin-top: 5vh;
    color: white;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    margin-bottom: 3vh;
    
}

.form-container h1{
    text-align: center;
}

.success input,.success input:focus{
    border:1px solid #292;
    outline:none;
}
.fail input,.fail input:focus{
    border: 1px solid red;
    outline:none;
}
.middle input,.middle input:focus{
    border: 3px solid rgb(255, 94, 0);
    outline:none;
}
.fail input,.fail input:focus{
    border: 1px solid red;
    outline:none;
}


.success #icons i.fa-check-circle{
    color:#292;
    visibility: visible;
}
.fail #icons i.fa-exclamation-circle{
    color:red;
    visibility: visible;
}
.middle #icons i.fa-exclamation-circle{
    color:rgb(255, 94, 0);
    visibility: visible;
}
.success,.fail,.middle{
    position: relative;
}
#icons i{
    position: absolute;
    right:8px;
    top:42%;
    visibility: hidden;
    
}
.my-margin{
    height: 50%;
}
.heading{
    text-align: center;
    font-family: "italic";
    margin-bottom: 3%;
    margin-top: 2%;
}
.row img{
    height: 100%;
    margin-bottom: 10%;
    

}
.container .content {
    position: absolute; 
    width: 84%; 
    top: 40%;
    text-align: center;
    padding: 20px;
    font-size:80%;
    margin-right: 5px;
    margin-bottom: 1%;
    
}
.container .content a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.container-up{
    width: 100%;
}


  .main-row{
      margin-top: 8%;
  }
  .card{
      cursor:pointer;
      margin-left: 10%;
  }
  .card img{
      transform:translateY(-50px);
      border-radius: 15px;
      z-index:1;
      height: 160px;
  }
  .card .card-body{
      visibility: hidden;
      transform: translateY(-150px);
      height: 0px;

  }
  .card:hover .card-body{
      visibility: visible;
      transform: translateY(-50px);
      transition: .5s;
      height: auto;

  }
  .container h1{
      text-align: center;
      margin-top: 3%;
      font-family: "italic";
  }
  footer{
      background:black;
      margin-top: 15%;
      height: 25vh;
      color: white;
      text-align: center;
      padding-top: 2%;     
  }
  
